.jumbotron {
	color: black;
	margin: 0;
	padding: 55px 0 0 0;
}

footer {
	padding: 20px 50px 0 50px;
	background-color: #ffe14b;
	margin-bottom: 0px;
	margin-top: 40px;
}

.footer-link {
	color: #212529;
	padding: 5px 0 5px 0;
}

.card-store {
	margin-top: 25px;
	text-align: center;
}

.card-body {
	height: 220px;
}

.btn-reserva {
	/*width: 100%;*/
	border-radius: 0px;
	margin: 0 20px 10px 20px;
}

.footer-address-icon {
	padding-right: 10px;
}

.img-header {
	width: 100%; 
	height: 650px;
}

.img-product-card {
	margin-bottom: 10px;
	height: 200px;
}